@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;1,100;1,300;1,400;1,500;1,700&display=swap');

* {
    box-sizing: border-box;
}

.app {
    width: 100vw;
    height: 100vh;
    background-color: #CCCCCC;
    position: relative;


}

.hanged>img {
    width: 400px;
    height: 466.67px;
    position: absolute;
    top: 59px;
    left: 38px;
}

.chooseWordButton {
    width: 200px;
    height: 60px;
    background: #27AE60;
    border-radius: 8px;
    position: absolute;
    top: 89px;
    right: 53px;
    color: white;
    font-size: 20px;
    line-height: 23px;
    font-family: 'Roboto', Courier, monospace;
}

.bottom {
    width: inherit;
    height: 243px;
    background-color: inherit;
    position: absolute;
    bottom: 0;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    flex-direction: column;
}

.letters {
    width: 664px;
    display: flex;
    gap: 12px;
    flex-wrap: wrap;
    justify-content: space-around;
}

.letters>button {
    width: 40px;
    height: 40px;
    border: 1px solid;
    border-radius: 3px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
}

.letters>.letterButtonDisabled {

    background: #9FAAB5;
    border-color: #7AA7C7;
    color: #798A9F;
}

.letters>.letterButtonEnabled {
    background: #E1ECF4;
    border-color: #7AA7C7;
    color: #39739D
}

.risk {
    margin-top: 56px;
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    gap: 14px;
}

.risk>span {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 23px;
    display: flex;
    align-items: center;
    text-align: center;
    color: #000000;

}

.risk>input {

    width: 353px;
    height: 40px;
    background: #FFFFFF;
    border: 1px solid #CCCCCC;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.25);
    border-radius: 3px;
}

.risk>button {
    width: 100px;
    height: 40px;
    background: #E1ECF4;
    border: 1px solid #7AA7C7;
    border-radius: 3px;
    font-family: 'Roboto', sans-serif;
    ;
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 19px;
    color: #3C76A1;
}

.word {
    position: fixed;
    bottom: 340px;
    right: 0;
    left: 0;
    margin: auto;
    font-family: 'Noto Sans', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 50px;
    line-height: 68px;
}